<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wordy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<header role="header" id="masthead">
    <div id="logo">
        <img src="/images/logo-wordy.svg" alt="Wordy">
    </div>

    <div id="define">
        <form>
            <input type="text" id="define_word">
            <input type="submit">
        </form>
    </div>
</header>

<main id="page">