/**
 * Colors
 */
$color__primary-background: #f0f2f5;
$color__element-primary-background: #fff;
$color__body-color: #3E3E3E;
$color__brand-red: #ef6060;

$color__grey-100: #EAEDF0;
$color__grey-500: #CED0D3;
$color__grey-900: #818285;

/**
 * Dimensions
 */
$sizing__page-horizontal-margin: 25px;